@page "/admin/promocion/crear"

<PageTitle>Crear Promocion</PageTitle>

@using BusinessLogic
@using Domain
@using ControllerLayer

@inject Controller Controller
@inject NavigationManager NavigationManager

<h1>Crear Promocion</h1>
<form>
    <div class="form-group m-2">
        <label for="title">Etiqueta</label>
        <input type="text" class="form-control" id="etiqueta" @bind="unaEtiqueta"/>
    </div>
    <div class="form-group m-2">
        <label for="title">PorcentajeDescuento</label>
        <input type="number" class="form-control" id="porcentajeDescuento" @bind="unPorcentajeDescuento" />
    </div>
    <div class="form-group m-2">
        <label for="title">FechaDesde</label>
        <input type="date" class="form-control" id="fechaDesde" @bind="unaFechaInicio" />
    </div>
    <div class="form-group m-2">
        <label for="title">FechaHasta</label>
        <input type="date" class="form-control" id="fechaHasta" @bind="unaFechaFin" />
    </div>
    <button type="button" class="btn btn-primary m-2" @onclick="GuardarCambios">Guardar Cambios</button>
</form>

@if (!datosCorrectos)
{
    <p class="text-danger">@mensajeError</p>
}

@code {
    private DTOPromocion promocion;
    private string unaEtiqueta;
    private int unPorcentajeDescuento;
    private DateTime unaFechaInicio = DateTime.Today;
    private DateTime unaFechaFin = DateTime.Today;
    private bool datosCorrectos = true;
    private string mensajeError;

    private void GuardarCambios()
    {
        try
        {
            if (unaEtiqueta == null )
            {
                throw new Exception("Ingrese Etiqueta");

            }
            promocion = new(1, unaEtiqueta, unPorcentajeDescuento, unaFechaInicio, unaFechaFin);
            Controller.RegistrarPromocion(promocion);
            NavigationManager.NavigateTo("/admin/promocion");
        }
        catch (ArgumentException e)
        {
            datosCorrectos = false;
            mensajeError = e.Message;
        }
        catch(Exception e)
        {
            datosCorrectos = false;
            mensajeError = e.Message;
        }
    }

}
