@page "/admin/deposito"
<PageTitle>Lista Depositos</PageTitle>

@using BusinessLogic
@using Domain
@using ControllerLayer

@inject DepositoLogic DepositoLogic
@inject Controller Controller
@inject NavigationManager NavigationManager
@inject DTOSesion DtoSesion


<h1>
    Lista Depositos
    <a href="/admin/deposito/crear" class="btn btn-success btn-sm" style="float: right;margin-right: 40px;">Crear Deposito</a>
</h1>


<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Area</th>
        <th>Tamaño</th>
        <th>Climatizacion</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var deposito in depositosRegistrados)
        {
            <tr>
                <td>@deposito.Id</td>
                <td>@deposito.Area</td>
                <td>@deposito.Tamanio</td>
                <td>@deposito.Climatizacion</td>
                <td>
                    <button class="btn btn-danger btn-sm" @onclick="(() => BorrarDeposito(deposito))">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<DTODeposito> depositosRegistrados;

    protected override void OnInitialized()
    {
        depositosRegistrados = Controller.listarTodosLosDepositos().ToList();
    }

    private void BorrarDeposito(DTODeposito deposito)
    {
        Controller.EliminarDeposito(deposito);
        depositosRegistrados = Controller.listarTodosLosDepositos().ToList();
        
    }
}


    @* private List<Deposito> _listaDepositos = new List<Deposito>();

    protected override void OnInitialized()
    {
        _listaDepositos = DepositoLogic.GetAll().ToList();
    }

    private void BorrarDeposito(int id)
    {
        DepositoLogic.EliminarDeposito(id);
        _listaDepositos = DepositoLogic.GetAll().ToList();
    } *@