@using Domain
@using BusinessLogic
@using ControllerLayer

@inject DTOSesion DtoSesion
@inject NavigationManager NavigationManager



<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DepoQuick</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<script>
    window.addEventListener('online', () => {
        window.location.href = '/';
    });

</script>
@if (DtoSesion.LogIn)
{
    @if (DtoSesion.EsAdministrador)
    {
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/promocion">
                        <span class="oi oi-tags" aria-hidden="true"></span> Promociones
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/deposito">
                        <span class="oi oi-home" aria-hidden="true"></span> Depositos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/reserva">
                        <span class="oi oi-book" aria-hidden="true"></span> Reservas
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/cliente">
                        <span class="oi oi-person" aria-hidden="true"></span> Clientes
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/" @onclick="CerrarSesion">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Cerrar Sesion
                    </NavLink>
                </div>

            </nav>
        </div>
    }
    else
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cliente/reserva">
                <span class="oi oi-book" aria-hidden="true"></span> Reservas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" @onclick="CerrarSesion">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Cerrar Sesion
            </NavLink>
        </div>
    }

}
else
{
    
    NavigationManager.NavigateTo($"/");
}


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void CerrarSesion()
    {
        DtoSesion.EsAdministrador = false;
        DtoSesion.SesionMail = "";
    }
}
