@page "/cliente"

@using BusinessLogic
@using Domain
@using ControllerLayer

@inject Controller Controller
@inject NavigationManager NavigationManager


<h1>Lista Clientes</h1>
<h1>
    <a href="/cliente/crear" class="btn btn-success btn-sm" style="float: right;margin-right: 40px;">Crear Cliente</a>
</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre y Apellido</th>
            <th>Mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in clientesRegistrados)
        {
            <tr>
                <td>@cliente.NombreYApellido</td>
                <td>@cliente.Mail</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<DTOCliente> clientesRegistrados;

    protected override void OnInitialized()
    {
        clientesRegistrados = Controller.listarTodosLosClientes().ToList();
    }

}
