@page "/"
@layout LoginLayout

<PageTitle>Lista Depositos</PageTitle>

@inject NavigationManager NavigationManager

@using ControllerLayer

@inject Controller Controller
@inject DTOSesion DtoSesion

<main class="container d-flex flex-column align-items-center">
    <h1 class="mb-4 mt-5">Log In</h1>
    <form class="w-25">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" aria-describedby="Email" @bind="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="Email" @bind="password">
            @if (!errorOk)
            {
                <p class="text-danger">@errorMessage</p>
            }
        </div>
        <div class="container d-flex flex-column align-items-center mt-4">
            <button type="button" class="btn btn-primary" @onclick="EjecutarLogin">Log in</button>
        </div>
    </form>
    <p class="mt-4"><a class="text-black">Log in</a>/<a href="/registro">Registrar</a></p>
</main>

@code {

    private string email;
    private string password;
    private bool errorOk;
    private string errorMessage;

    protected override void OnInitialized()
    {
        errorOk = true;
    }

    private void EjecutarLogin()
    {
        try
        {
            if (Controller.LogIn(email, password))
            {
                DtoSesion.SesionMail = email;
                NavigationManager.NavigateTo($"/reserva");
            }
        }
        catch (Exception e)
        {
            errorOk = false;
            errorMessage = e.Message;
        }
    }

}

